body {
	background-color: #232528;
	font-family: Montserrat;
	margin: 25px;
	color: #EAF6FF;
}

h1 {
	font-weight: bolder;
	border-bottom: 1px solid #eaf6ff;
	width: 48%;
}

.bio, .hab {
	font-weight: 300;
	width: 48%;
}

.bio p {
	line-height: 30px;
}

.hab p {
	line-height: 30px;
	font-weight: bold;
}


@media screen and (max-width: 768px){
	body {
		background-color: #eaf6ff;
		color: #232528;
	}
	h1 {
		border-bottom: 1px solid #232528;
	}
}