body {
	background-color: #232528;
	font-family: Montserrat;
	margin: 25px;
	color: #EAF6FF;
}

h1 {
	color: #EAF6FF;
	font-weight: bolder;
	border-bottom: 1px solid #eaf6ff;
	width: 48%;
}

.bio, .hab {
	font-weight: 300;
	width: 48%;
}

.bio p {
	line-height: 30px;
}

.hab p {
	line-height: 30px;
	font-weight: bold;
}
